<div class="wrapper">
  <div class="float-end">
    <button class="btn btn-primary" (click)="navigateToAddForm()">Add Company</button>
  </div>
</div><br>
<table class="table table-hover table-borderless">
    <thead>
      <tr>
        <th scope="col">Company Id</th>
        <th scope="col">Tax Identifier</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies" (click)="navigateToPreview(company.companyId)">
        <td>{{company.companyId}}</td>
        <td>{{company.taxIdentifier}}</td>
        <td>{{company.name}}</td>
      </tr>
    </tbody>
  </table>